/*Nav bar styling*/

.navbar-fixed-side-left {
  left: 0;
}

.navbar-fixed-side-right {
  right: 0;
}

.nav-li {
  font-size: calc(12px + 2vh);
  margin-top: 8vh;
  margin-right: 5vw;
  padding: 0;
}

.navbar-fixed-side {
  position: fixed;
  min-height: 5px;
  min-width: 5px;
  max-width: 200px;
  margin-bottom: 0;
  background-color: transparent;
  border: none;
  height: 100vh;
}

.navbar-toggle {
  border: none;
}

.navbar-fixed-side .container {
  width: 100%;
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
}

.navbar-fixed-side .navbar-header {
  float: none;
  margin: 0;
  border: none;
  padding: 0;
  background-color: transparent;
  height: 8%;
}

.navbar-fixed-side .navbar-brand {
  float: none;
  height: 100%;
  font-size: 18px;
  border: none;
}

div.navbar-collapse.collapse.in > ul.navbar-nav {
    box-shadow: none;
}

div.navbar-collapse {
    box-shadow: none;
    border: none;
    float: right;
}

div.navbar-collapse > ul > li > a > h1 {
    font-size: calc(12px + 2vh);
    margin: 0;
    padding: 0;
}

div.navbar-collapse.collapse.in > ul > li > a > h1 {
    font-size: calc(12px + 2vh);
    margin: 0;
    padding: 0;
}

div.navbar-collapse.collapse.in {
  width: 100%;
  overflow: visible;
}

div.navbar-collapse.collapsing {
  width: 100%;
}

/*Link Behavior Styling*/

.navbar-fixed-side .navbar-toggle:link {
  background-color: transparent;
}

.navbar-fixed-side .navbar-toggle:visited {
  background-color: transparent;
}

.navbar-fixed-side .navbar-toggle:hover {
  background-color: transparent;
}

.navbar-fixed-side .navbar-toggle:active {
  background-color: transparent;
}

.navbar-fixed-side .navbar-toggle:focus {
  background-color: transparent;
}

.navbar-fixed-side .navbar-toggle .icon-bar {
  background-color: white;
}

.navbar-fixed-side .navbar-toggle:hover .icon-bar {
  background-color: #00d0ff;
}

.navbar-fixed-side .navbar-collapse .nav > li > a > h1 {
  font-family: 'Allan', sans;
  /*font-weight: bold;*/
}

.navbar-fixed-side .navbar-collapse .nav > li > a:hover {
  color: #00d0ff;
}

.navbar-fixed-side .navbar-collapse .navbar-nav > li > a, a:link, a:visited, a:active, a:focus {
  color: white;
  text-decoration: none;
}

.navbar-fixed-side .navbar-collapse .navbar-nav > li > a {
  margin: 0;
  padding: 0;
}

a.nav-a {
  z-index: 0;
}
